article.headline-text-icon.block-offset-top-and-bottom
  .container-lg
    h1.h2-like.text-center A great company made even better by great people.
    p.text-center We succeed when our people do. Our benefits support your professional and personal life. That, coupled with our dynamic people have earned us recognition for being a unique and outstanding place to work.
    ul.js-slider-mobile(
      data-slides-mobile="1"
      data-infinite="true"
      data-arrows="true"
      data-dots="false"
      data-speed="500"
      data-autoplay="false")

      li
        img(src="/images/headline-text-icon-1.png" alt="")
      li
        img(src="/images/headline-text-icon-2.png" alt="")
      li
        img(src="/images/headline-text-icon-3.png" alt="")
      li
        img(src="/images/headline-text-icon-4.png" alt="")
