.icon-headline-description.block-offset-top-and-bottom
  .container-lg
    .js-slider(
      data-slides-desktop="4"
      data-slides-tablet="2"
      data-slides-mobile="1"
      data-infinite="true"
      data-arrows="true"
      data-dots="false"
      data-speed="500"
      data-autoplay="true"
      data-autoplay-speed="2000")

      .icon-headline-description__item
        .icon-headline-description__item__content
          .icon-headline-description__item__image
            img(src="/images/icon-1.svg" alt="")
          h3.h5-like Flexible hours and remote work options
          p 16 weeks paid leave + up to 8 months reduced schedule.
      .icon-headline-description__item
        .icon-headline-description__item__content
          .icon-headline-description__item__image
            img(src="/images/icon-2.svg" alt="")
          h3.h5-like On site health and fitness center
          p and personal fitness coatching.
      .icon-headline-description__item
        .icon-headline-description__item__content
          .icon-headline-description__item__image
            img(src="/images/icon-3.svg" alt="")
          h3.h5-like 401(K) Savings Plan
          p We contribute 3% to your 401(K) whether you participate or not and on top of that match your contribution at 100% up to 6%
      .icon-headline-description__item
        .icon-headline-description__item__content
          .icon-headline-description__item__image
            img(src="/images/icon-4.svg" alt="")
          h3.h5-like Best-in-class Parental leave plan
          p 16 weeks paid leave + up to 8 months reduced schedule.
      .icon-headline-description__item
        .icon-headline-description__item__content
          .icon-headline-description__item__image
            img(src="/images/icon-2.svg" alt="")
          h3.h5-like On site health and fitness center
          p and personal fitness coatching.
