.icon-headline-description.icon-headline-description--with-cta.block-offset-top-and-bottom
  .container-lg
    .js-slider(
      data-slides-desktop="3"
      data-slides-tablet="2"
      data-slides-mobile="1"
      data-infinite="true"
      data-arrows="true"
      data-dots="false"
      data-speed="500"
      data-autoplay="true"
      data-autoplay-speed="2000")

      .icon-headline-description__item
        .icon-headline-description__item__content
          .icon-headline-description__item__image
            img(src="/images/icon-5.svg" alt="")
          h3.h5-like Foundation giving
          p Three independent foundations created, staffed and funded by our operating companies, support education, arts and social programs that strengthen our local communities.
          a.button(href="#") View Stories
      .icon-headline-description__item
        .icon-headline-description__item__content
          .icon-headline-description__item__image
            img(src="/images/icon-6.svg" alt="")
          h3.h5-like Corporate giving
          p RAI Group make monetary contributions and non-cash donations, such as land and buildings, to support nonprofits and economic development efforts in the communities in which we live and operate.
          a.button(href="#") View Stories
      .icon-headline-description__item
        .icon-headline-description__item__content
          .icon-headline-description__item__image
            img(src="/images/icon-7.svg" alt="")
          h3.h5-like Employee giving
          p Employees are able to direct foundation and corporate funds in a variety of ways. For example, the Reynolds American Foundation matches employee gifts to nonprofit organizations and institutions of higher learning up to $7,000 per employee per year.
          a.button(href="#") View Stories
