.call-out.call-out--long
  .call-out__image(style="background-image: url('/images/community-engagement/banner.jpg')")
    .call-out__image__content
      h1.h3-like.call-out__title Community Engagement
  .call-out__list-container.js-dropdown
    button.call-out__mobile-list.js-dropdown-button.for-tablet Community Engagement
    ul.call-out__list.js-dropdown-content
      li
        a(href="/youth-prevention.html") Youth Prevention
      li.is-active
        a(href="/community-engagement.html") Community Engagement
      //- li
        a(href="/sustainability.html") Sustainability
      li
        a(href="/engagement-and-advocacy.html") Engagement and Advocacy
      li
        a(href="/responsible-marketing-and-product-integrity.html") Responsible Marketing & Product Integrity
      li
        a(href="/supplier-responsibility.html") Supplier Responsibility
  .call-out__content.container-lg
    .call-out__content__text
      h2 Connecting with and contributing to our communities is a tradition and point of pride at the RAI Group, where our legacy of community support dates back to the 1800s. Our companies and employees generously invest their time, talent and funds to help improve lives and shape the communities where we live and work.
    .call-out__content__image(style="background-image: url('/images/community-engagement/image-1.jpg')")

h2.h2-like.text-center.mobile-offset-bottom 2018 Giving at a glance

article.block-image-and-text.block-offset-bottom
  .container-lg
    .row.align-items-center
      .col-lg-6.image-container
        img(src="/images/community-engagement/image-2.jpg" srcset="/images/community-engagement/image-2@2x.jpg 2x" alt="")
      .col-lg-6.text-container
        .border-left
          p Our companies, along with their foundations and employees, donated approximately $13.6 million to a wide range of nonprofit organizations in 2018. Employees gave $1.7 million to nonprofit and educational organizations through the United Way campaign and the employee matching grants program. All of these contributions were matched dollar-for-dollar by the Reynolds American Foundation.
          p Our employees outdid themselves to help their communities in 2018. During the United Way Days of Caring, more than 900 employees volunteered over 5,000 hours to help United Way agencies.
          p Community outreach efforts are an important part of our sustainable business practices and our commitment to being a positive, connected contributor in the community. To this end, the RAI Group’s total giving programs are defined by #[b three components]:

.icon-headline-description.icon-headline-description--with-cta.block-offset-top-and-bottom
  .container-lg
    .js-slider(
      data-slides-desktop="3"
      data-slides-tablet="2"
      data-slides-mobile="1"
      data-infinite="true"
      data-arrows="true"
      data-dots="false"
      data-speed="500"
      data-autoplay="true"
      data-autoplay-speed="2000")

      .icon-headline-description__item
        .icon-headline-description__item__content
          .icon-headline-description__item__image
            img(src="/images/community-engagement/icon-1.svg" alt="")
          h3.h5-like Foundation giving
          p Three independent foundations created, staffed and funded by our operating companies, support education, arts and social programs that strengthen our local communities.
          //- a.button(href="#") View Stories
      .icon-headline-description__item
        .icon-headline-description__item__content
          .icon-headline-description__item__image
            img(src="/images/community-engagement/icon-2.svg" alt="")
          h3.h5-like Corporate giving
          p RAI Group makes monetary contributions and non-cash donations, such as land and buildings, to support nonprofits and economic development efforts in the communities in which we live and operate.
          //- a.button(href="#") View Stories
      .icon-headline-description__item
        .icon-headline-description__item__content
          .icon-headline-description__item__image
            img(src="/images/community-engagement/icon-3.svg" alt="")
          h3.h5-like Employee Giving
          p Employees are able to direct foundation and corporate funds in a variety of ways. For example, the Reynolds American Foundation matches employee gifts to nonprofit organizations and institutions of higher learning up to $7,000 per employee per year.
          //- a.button(href="#") View Stories

.container-lg.block-offset-top-and-bottom
  .row.information-dropdowns
    .col-12.col-lg-6
      article.information-dropdown
        .information-dropdown__title.js-dropdown-button
          h1.h3-like Goals and Leadership
        .information-dropdown__content.js-dropdown-content
          p The RAI Group’s giving programs are led by the director of community engagement programs and the vice president of corporate sustainability of RAI Services Company, who also serve as the executive director and president, respectively, of the Reynolds American Foundation. The American Snuff Charitable Trust and Santa Fe Natural Tobacco Company Foundation are independently managed by their individual boards of directors.
          p The RAI Group is focused on facilitating opportunities for employees to engage in the community, with the goal of increasing the number of employees participating in matching grant programs and volunteerism. This requires understanding our employees’ interests and effectively communicating activities and opportunities.
          p “The most rewarding aspect of being involved in these volunteer efforts is getting to be a part of something bigger than yourself. The RAI Group’s support of our volunteer efforts proves that they value employees and the community at the same time.”
          ul.ul-like.li-full
            li Keith Lonon, senior area manager and United Way Days of Caring past chair
    //- .col-12.col-lg-6
      article.information-dropdown
        .information-dropdown__title.js-dropdown-button
          h1.h3-like Programs and Priorities
        .information-dropdown__content.js-dropdown-content
          p Reynolds American and its operating companies continue to transform the tobacco industry by:
          ul.ul-like
            li Conducting research and evaluating the growing body of scientific evidence to better understand the relative risks of different tobacco products;
            li Engaging with legislators, regulators and other stakeholders with a goal of having the elements of tobacco harm reduction reflected in future legislation and regulation;
            li Creating new and innovative products to meet the changing expectations of adult tobacco consumers.
          a.link-arrow.mobile-offset-top(href="#" target="_blank")
            span Sound Science
            +svg('arrow-right')
          p Reynolds American’s subsidiaries are adding to a growing body of science demonstrating that smokeless tobacco products present less risk than cigarettes and that other non-combustible tobacco products that are much newer to the market, such as vapor products, may present significantly less risk than cigarettes. The varying risks presented by these products can be viewed as a risk continuum. Misunderstandings of this risk continuum create barriers to millions of smokers living better lives — smoke-free.
          a.link-arrow.mobile-offset-top(href="#" target="_blank")
            span Legislative & Regulatory Priorities
            +svg('arrow-right')
          p To realize the potential of tobacco harm reduction, it is essential that Reynolds American and its subsidiaries work with policymakers to address concerns about non-combustible tobacco products.
          a.link-arrow.mobile-offset-top(href="#" target="_blank")
            span Product Innovation
            +svg('arrow-right')
          p A growing body of scientific research demonstrates a continuum of risk associated with tobacco products. RAI’s operating companies are working to innovate and introduce new products with the potential to reduce these risks, while continuing to meet the changing expectations of adult tobacco consumers. This approach begins with the principle that nothing is to be done or added to products that increases their inherent risks.

//- h2.h2-like.text-center.mobile-offset-bottom Feature Stories

article.article-feature.container-lg.mobile-offset-bottom
  .article-feature__bg(style="background-color: #f9fcfe")
    .row.align-items-center
      .article-feature__textblock.col-12.col-md-6
        .article-feature__title
          .article-feature__title__icon
            img(src="/images/community-engagement/icon-6.svg" alt="")
          h3.h6-like Employee Giving
        h1.h4-like Care, compassion and community commitment drive SFNTC’s Oxford employees
        .border-left.for-desktop
          p Hundreds of North Carolinians who live in and around Granville County are leading better lives thanks to the care, compassion and community commitment of the men and women at Santa Fe Natural Tobacco Company’s (SFNTC) facility in Oxford, N.C.
          p “Neighbors helping neighbors is what it’s all about,” said Ann Squires, an HR business partner at Oxford. “Here in Oxford, we don’t just talk the talk; we also walk the walk.”
        a.link-arrow(href="/care-compassion-and-community.html")
          span Read Article
          +svg('arrow-right')
      .article-feature__imageblock.col-12.col-md-6
        img(src="/images/community-engagement/image-3.jpg" srcset="/images/community-engagement/image-3@2x.jpg 2x" alt="")

article.article-feature.container-lg.mobile-offset-bottom
  .article-feature__bg(style="background-color: #f9fcfe")
    .row.align-items-center
      .article-feature__textblock.col-12.col-md-6
        .article-feature__title
          .article-feature__title__icon
            img(src="/images/community-engagement/icon-5.svg" alt="")
          h3.h6-like Corporate Giving
        h1.h4-like Santa Fe Natural Tobacco Company moves to captured rainwater for irrigation
        .border-left.for-desktop
          p It takes time, energy and resources to maintain the properties and facilities that support our businesses. Doing so sustainably adds an entirely new layer of thinking. At Santa Fe Natural Tobacco Company’s (SFNTC) Oxford, N.C. campus, considering environmental impact and resource usage is deeply embedded in the culture, with new ideas and approaches being implemented on an ongoing basis. From becoming a 100 percent LED-lighted campus in late 2018 (resulting in an approximate 300,000 kWh decrease in energy use for the year) to adjusting shifts and schedules to reduce natural gas use, finding ...
        a.link-arrow(href="/santa-fe-natural.html")
          span Read Article
          +svg('arrow-right')
      .article-feature__imageblock.col-12.col-md-6
        img(src="/images/community-engagement/image-4.jpg" srcset="/images/community-engagement/image-4@2x.jpg 2x" alt="")

//- article.article-feature.container-lg.mobile-offset-bottom
  .article-feature__bg(style="background-color: #f9fcfe")
    .row.align-items-center
      .article-feature__textblock.col-12.col-md-6
        .article-feature__title
          .article-feature__title__icon
            img(src="/images/community-engagement/icon-6.svg" alt="")
          h3.h6-like Employee Giving
        h1.h4-like Care, compassion and community commitment drive SFNTC’s Oxford employees
        .border-left.for-desktop
          p Hundreds of North Carolinians who live in and around Granville County are leading better lives thanks to the care, compassion and community commitment of the men and women at Santa Fe Natural Tobacco Company’s (SFNTC) facility in Oxford, N.C.
          p “Neighbors helping neighbors is what it’s all about,” said Ann Squires, an HR business partner at Oxford. “Here in Oxford, we don’t just talk the talk; we also walk the walk.”
        a.link-arrow(href="#")
          span Read Article
          +svg('arrow-right')
      .article-feature__imageblock.col-12.col-md-6
        img(src="/images/community-engagement/image-5.jpg" srcset="/images/community-engagement/image-5@2x.jpg 2x" alt="")

//- a.secondary-button.cta.large.centered(href="#")
  span All RAI Giving Stories
  +svg('arrow-right')

//- .block-offset-bottom
