.call-out.call-out--long
  .call-out__image(style="background-image: url('/images/engagement-and-advocacy/banner.jpg')")
    .call-out__image__content
      h1.h3-like.call-out__title Engagement & Advocacy
  .call-out__list-container.js-dropdown
    button.call-out__mobile-list.js-dropdown-button.for-tablet Engagement and Advocacy
    ul.call-out__list.js-dropdown-content
      li
        a(href="/youth-prevention.html") Youth Prevention
      li
        a(href="/community-engagement.html") Community Engagement
      li
        a(href="/sustainability.html") Sustainability
      li.is-active
        a(href="/engagement-and-advocacy.html") Engagement and Advocacy
      li
        a(href="/responsible-marketing-and-product-integrity.html") Responsible Marketing & Product Integrity
      li
        a(href="/supplier-responsibility.html") Supplier Responsibility
  .call-out__content.container-lg
    .call-out__content__text
      h2 Products manufactured by the operating companies of Reynolds American Inc. (RAI) are sold, taxed and regulated in all 50 U.S. states. As a result, the companies' businesses can be affected both by laws and regulations that impact the business climate generally, as well as those that specifically govern the manufacture and sale of tobacco products.
    .call-out__content__image(style="background-image: url('/images/engagement-and-advocacy/image-1.jpg')")

h2.h2-like.text-center We are leading change in our industry by advocating#[br] for policy positions that work to:

.icon-headline-description.block-offset-top-and-bottom
  .container-lg
    .js-slider(
      data-slides-desktop="4"
      data-slides-tablet="2"
      data-slides-mobile="1"
      data-infinite="true"
      data-arrows="true"
      data-dots="false"
      data-speed="500"
      data-autoplay="true"
      data-autoplay-speed="2000")

      .icon-headline-description__item
        .icon-headline-description__item__content
          .icon-headline-description__item__image
            img(src="/images/engagement-and-advocacy/icon-1.svg" alt="")
          h3.h5-like Reducing the harm caused by smoking
      .icon-headline-description__item
        .icon-headline-description__item__content
          .icon-headline-description__item__image
            img(src="/images/engagement-and-advocacy/icon-2.svg" alt="")
          h3.h5-like Accelerating the decline in youth tobacco use
      .icon-headline-description__item
        .icon-headline-description__item__content
          .icon-headline-description__item__image
            img(src="/images/engagement-and-advocacy/icon-3.svg" alt="")
          h3.h5-like Driving innovation throughout our businesses
      .icon-headline-description__item
        .icon-headline-description__item__content
          .icon-headline-description__item__image
            img(src="/images/engagement-and-advocacy/icon-4.svg" alt="")
          h3.h5-like Redefining enjoyment for adult tobacco consumers

article.block-image-and-text.block-offset-top-and-bottom(style="background-color: #f9fcfe")
  .container-lg
    .row.align-items-center
      .col-lg-6.image-container
        img(src="/images/engagement-and-advocacy/image-2.jpg" srcset="/images/engagement-and-advocacy/image-2@2x.jpg 2x" alt="")
      .col-lg-6.text-container
        .border-left
          p The RAI Group of companies’ advocacy is in line with the principles discussed more fully in our statement of Vision and Beliefs, the policy positions discussed in the Transforming Tobacco section of this website, or is otherwise in the interests of the organization.
          p The RAI Group participates in the political and public policy process in a manner consistent with the law and the interests of our businesses, but they are not, as a matter of policy, based on any officer's or employee's personal political preferences. We are engaged and collaborative with a diverse group of legislators and stakeholders at the federal, state and local levels, even when we may not necessarily agree with all of the positions taken by each candidate or organization to which we contribute.

article.block-image-and-text.block-offset-top-and-bottom(style="background-color: #f9fcfe")
  .container-lg
    .row.align-items-center
      .col-lg-6.image-container.order-lg-2
        img(src="/images/engagement-and-advocacy/image-3.jpg" srcset="/images/engagement-and-advocacy/image-3@2x.jpg 2x" alt="")
      .col-lg-6.text-container.order-lg-1
        .border-left
          p As with many companies our size, we retain the services of government relations consultants at various political levels, as appropriate. Contracted lobbyists, and staff members registered to lobby, engage with elected officials and their staffs to communicate the companies’ viewpoints and perspectives on legislative and public policy matters. Such engagement is undertaken at the direction of the External Affairs staff for the RAI Group, under the supervision and approval of the executive vice president of External Affairs. Lobbying expenses are disclosed in filings with appropriate federal and state agencies in accordance with applicable laws.

.container-lg.block-offset-top-and-bottom
  .row.information-dropdowns
    .col-12.col-lg-6
      article.information-dropdown
        .information-dropdown__title.js-dropdown-button
          h1.h3-like Political contribution Policies and Procedures
        .information-dropdown__content.js-dropdown-content
          p Proposed corporate political contributions are reviewed internally to ensure compliance with all applicable laws and regulations, and to determine that they are in the best interests of the RAI Group. For more details on our policy and procedures, #[a(href="https://s2.q4cdn.com/129460998/files/doc_downloads/corporate_poltical/Summary-of-RAI's-Policies-and-Procedures-on-Political-Contributions-2019.pdf" target="_blank") click here].
          p Information on corporate political contributions is posted annually, during the first quarter of the year following the close of the reporting period.
