.call-out.call-out--short
  .call-out__image(style="background-image: url('/images/guiding-princples/banner.jpg')")
    .call-out__image__content
      h1.h3-like.call-out__title Guiding Principles
  .call-out__list-container.js-dropdown
    button.call-out__mobile-list.js-dropdown-button.for-tablet Guiding Principles
    ul.call-out__list.js-dropdown-content
      li
        a(href="/leadership.html") Leadership
      li
        a(href="/ethics-and-compliance.html") Ethics and Compliances
      li.is-active
        a(href="/guiding-princples.html") Guiding Principles
  .call-out__content
    h2.h3-like  We will achieve U.S. market leadership by transforming the tobacco industry.

.icon-headline-description.block-offset-bottom
  .container-lg
    .js-slider(
      data-slides-desktop="4"
      data-slides-tablet="2"
      data-slides-mobile="1"
      data-infinite="true"
      data-arrows="true"
      data-dots="false"
      data-speed="500"
      data-autoplay="true"
      data-autoplay-speed="2000")

      .icon-headline-description__item
        .icon-headline-description__item__content
          .icon-headline-description__item__image
            img(src="/images/guiding-princples/icon-1.svg" alt="")
          h3.h5-like Reducing the harm caused by smoking
      .icon-headline-description__item
        .icon-headline-description__item__content
          .icon-headline-description__item__image
            img(src="/images/guiding-princples/icon-2.svg" alt="")
          h3.h5-like Accelerating the decline in youth tobacco use
      .icon-headline-description__item
        .icon-headline-description__item__content
          .icon-headline-description__item__image
            img(src="/images/guiding-princples/icon-3.svg" alt="")
          h3.h5-like Driving innovation throughout our businesses
      .icon-headline-description__item
        .icon-headline-description__item__content
          .icon-headline-description__item__image
            img(src="/images/guiding-princples/icon-4.svg" alt="")
          h3.h5-like Redefining enjoyment for adult tobacco consumers

article.block-image-and-text.block-image-and-text--image-second.block-offset-top-and-bottom(style="background-color: #f9fcfe")
  .container-lg
    .row.align-items-center
      .col-lg-6.text-container
        h1.h3-like Tobacco Use and Health
        ul.ul-like.li-full.mobile-offset-left
          li Cigarette smoking is a leading preventable cause of death. Quitting cigarette smoking significantly decreases the risk for lung cancer, heart disease, chronic bronchitis, emphysema and other serious diseases and conditions.
          li Cigarette smokers who want to quit should do so, and all smokers should have access to information about the benefits of quitting and effective cessation products that may help them.
          li No tobacco product has been shown to be safe or risk-free, but the type of tobacco product used, how long it is used, and the frequency and amount of use significantly affect the risk of serious diseases.
          li Nicotine in tobacco products is addictive but is not considered a significant health threat.
      .col-lg-6.image-container
        img(src="/images/guiding-princples/image-1.jpg" srcset="/images/guiding-princples/image-1@2x.jpg 2x" alt="")

article.block-image-and-text.block-offset-top-and-bottom(style="background-color: #f9fcfe")
  .container-lg
    .row.align-items-center
      .col-lg-6.image-container
        img(src="/images/guiding-princples/image-2.jpg" srcset="/images/guiding-princples/image-2@2x.jpg 2x" alt="")
      .col-lg-6.text-container
        ul.ul-like.li-full
          li Long-term studies (epidemiology) have established that smoking is the highest-risk form of tobacco use, and that smokeless tobacco products, including moist snuff and snus, present significantly less risk of serious diseases, including oral cancer, than smoking cigarettes.
          li We believe that vapor products and other noncombustible tobacco products may present less risk to adult tobacco consumers than smoking cigarettes. Although these products have not been used by consumers for a sufficient period of time to develop definitive scientific conclusions about their level of risk reduction, there is a growing body of scientific evidence that these products may present less risk than smoking. While some studies report that there may be health risks associated with these products, those risks appear to be lower than the risks of smoking cigarettes.
          li Nicotine replacement therapy (NRT) products approved for smoking cessation present less risk than smoking. We believe that similar noncombustible tobacco products also present less risk than smoking.
          li Governments, public health officials and tobacco manufacturers share a responsibility to provide accurate, useful information to adult tobacco consumers about the differing levels of risk between different types of tobacco and nicotine products.

//- .banner.banner-with-mobile-image.banner--quote.theme-light.theme-dark-blue-mobile(style="background-image: url('/images/guiding-princples/banner-2.jpg')")
  .container-lg
    .row.content.align-items-center
      .col-12.for-mobile
        .banner__image(style="background-image: url('/images/guiding-princples/banner-2.jpg')")
      .col-12.col-lg-6.offset-lg-6
        p.uppercase.decorated Sed do eiusmod
        h3.h2-like Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
        a.button.medium.uppercase.cta(href="#" target="_blank") Learn More

.container-lg.block-offset-top-and-bottom
  .row.information-dropdowns
    .col-12.col-lg-6
      article.information-dropdown
        .information-dropdown__title.js-dropdown-button
          h1.h3-like Tobacco Harm Reduction
        .information-dropdown__content.js-dropdown-content
          ul.ul-like
            li Reducing disease and death associated with cigarette smoking is in the best interest of not only adult tobacco consumers, but society as well. The best way for smokers to achieve these risk reductions is to quit. Smokers who don’t want to quit tobacco altogether should consider switching to tobacco products that may present less risk to their health.
            li Policies that encourage cigarette smokers to switch to products that are or may be less risky should be added to the traditional public-health efforts aimed at reducing the number of people who smoke.
            li There is a growing body of scientific evidence that vapor and other noncombustible tobacco products may present significantly less risk than smoking. While some studies report that there may be health risks associated with these products, we believe those risks are lower than the risks of smoking cigarettes.
            li Manufacturers of cigarettes, smokeless tobacco products, vapor products and other noncombustible tobacco products should be encouraged to research and develop innovative products that may present less risk than smoking cigarettes.
      article.information-dropdown
        .information-dropdown__title.js-dropdown-button
          h1.h3-like Tobacco Regulation and Communication 
        .information-dropdown__content.js-dropdown-content
          ul.ul-like
            li Tobacco products should be regulated in a way that is designed to achieve significant and measurable reductions in the health risks associated with cigarette smoking.
            li The level of regulation should be proportional to the level of risk a tobacco product presents. Preferential treatment (taxation, marketing, consumer communication, labeling, etc.) should be given to tobacco products that may present less risk than cigarettes.
            li Regulations should require that adult tobacco consumers be given accurate information so that they can make informed choices about the type of product they choose to use, and ways they could lower risks to their health.
            li Communication and interaction with adult tobacco consumers regarding their brand and product choices is essential for effective competition, but the marketing of tobacco products should not target minors, or adults who don’t currently use tobacco or nicotine products.
    .col-12.col-lg-6
      article.information-dropdown
        .information-dropdown__title.js-dropdown-button
          h1.h3-like Tobacco Consumers
        .information-dropdown__content.js-dropdown-content
          ul.ul-like
            li The best course of action for tobacco consumers concerned about their health is to quit.
            li Cigarette smokers who don’t quit altogether should have access to a range of tobacco and nicotine products that may lower their health risks.
            li Individuals should rely on the U.S. Surgeon General, government agencies and the public health community for information about the risks of tobacco use, the benefits of quitting, and the potential benefits of switching to products that are or may be less risky than cigarettes.
            li Governments and public health officials should be required to communicate accurate, useful information about the comparative health risks between smoking and the use of vapor and other noncombustible tobacco products so that adult tobacco consumers can make informed decisions.
            li Cigarette smokers should avoid exposing youth and nonsmokers to secondhand smoke.
            li Minors should never use tobacco products, and adults who don’t use tobacco or have quit tobacco should not start.
      article.information-dropdown
        .information-dropdown__title.js-dropdown-button
          h1.h3-like Vapor and other Noncombustible Tobacco Products
        .information-dropdown__content.js-dropdown-content
          ul.ul-like
            li Minors should never use vapor or any other tobacco products. Adults who do not use tobacco products or who have quit using tobacco should not start using vapor or any other tobacco products.
            li We believe that vapor products and other noncombustible tobacco products may present less risk to adult tobacco consumers than smoking cigarettes. Although these products have not been used by consumers for a sufficient period of time to develop definitive scientific conclusions about their level of risk reduction, there is a growing body of scientific evidence that these products may present less risk than smoking. While some studies report that there may be health risks associated with these products, those risks appear to be lower than the risks of smoking cigarettes.
            li Because of their potentially lower health risks when compared to cigarettes, vapor products should be taxed and regulated differently than cigarettes.
            li High taxes and severe restrictions on how vapor products are marketed and where they can be used may deter smokers from considering switching from cigarettes to vapor products. This may result in adult smokers continuing to smoke cigarettes, the highest-risk form of tobacco.
            li Governments and public health officials should be required to communicate accurate, useful information about the comparative health risks between cigarettes and vapor products so that adult tobacco consumers can make informed decisions.
            li Common-sense regulation of vapor products is prudent, including prohibiting the sale of vapor products to minors, appropriate child-resistant packaging requirements and workplace-safety standards for manufacturers.
            li For adult smokers who don’t quit using tobacco altogether, the availability of a range of adult-oriented flavors may encourage them to consider switching to vapor products.
